@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

* {
  padding: 0;
  margin: 0;
  font-family: 'Audiowide', 'cursive', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  background-color: firebrick;
}

header, footer {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 10vh;
  background-color: lightskyblue;
  border: 1px solid purple;
}

header h1, footer div {
  background: -webkit-linear-gradient(purple, orangered);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  font-size: 3em;
}

footer div {
  font-size: 2em;
}

div.grid-resolution {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5em;
  margin: 1em 0;
}

label, input {
  font-size: 1.5em;
  margin: 0 0.5em;
}

label {
  text-align: center;
}

div.sketch-modes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2em;
  margin: 1em 0;
}

div.sketch-modes button {
  font-size: 1.5em;
}

div.container {
  align-self: center;
  height: 750px;
  width: 750px;
  margin: 1em 0;
  overflow: hidden;
}

div.grid-unit {
  box-sizing: border-box;
  background-color: whitesmoke;
  border: 1px solid lightgray;
}